<div class="container cards">
 

  
  
        <div class="" *ngFor="let weekdays of weekdays; index as i; trackByFn ">
            
         <button (click)="onClick()"> {{weekdays}} </button>
        </div>
    
      </div>



<br>
<br>

<div class="container">



 <table class="table-bordered">

  <thead>
    <tr>
      <td></td>
      <td>League</td>
      <td>Match</td>
      <td>Kick-off (base on local)</td>
      
    </tr>
  </thead>

  <tbody >
    <tr *ngFor="let praducts of trendproduct">

      <td>{{praducts.Country}}</td>
      <td>{{praducts.LeagueName}}</td>
      <td routerLink="matchname">{{praducts.MatchName
      }}</td>
      <td>{{praducts.MatchDate}}</td>
      <!-- <td>{{items.category}}</td>
      <td>{{items.color}}</td>
      <td>{{items.description}}</td>
      <td><button (click)="deleteproduct(items.id)"><fa-icon [icon]="deleteIcon"></fa-icon>Delete</button>
          <button routerLink="/sellar-update-product/{{items.id}}">update</button>
      </td> -->
    </tr>
  </tbody>
</table>
</div>